<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link href="/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <!-- Include DaisyUI for additional components -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@1.11.4/dist/full.css" rel="stylesheet">

  <style>
    #main {
      height: calc(100vh - 10rem);
      /* Tinggi viewport - 10rem (misalnya untuk menyesuaikan dengan margin diatasnya) */
    }
  </style>
</head>

<body class="w-full">
  {{>upperPart }}

  <div id="main" class="flex justify-center items-center flex-col mx-5 my-5 lg:mx-auto lg:mt-10 lg:mb-0">
    <div class="card !static bg-cyan-700 shadow-xl w-full sm:w-4/5 lg:h-auto lg:w-1/2 pb-3 lg:pb-0 mt-10 sm:mt-0">

      <div class="card-body p-4 lg:p-8 flex flex-col items-center w-full lg:justify-start lg:h-full lg:pl-8">
        <div class="mb-2 lg:mb-0 w-full flex justify-center flex-col">
          <h2 class="card-title text-white font-extrabold text-2xl justify-center my-2">
            <i class="fas fa-user text-4xl"></i> <!-- Ikon user -->
            {{user.username}}
            <span class="text-base font-normal">Profile</span>
          </h2>
          <div class="divider divider-info m-0 w-full"></div>
        </div>

        <div class="flex flex-col justify-center items-center w-full px-1 h-full">
          <div class="items-center md:w-4/5 lg:w-3/5">

            <!-- Full Name -->
            <div class="mb-2">
              <label for="fullname" class="font-medium text-white">
                <i class="fas fa-id-card mr-2"></i> <!-- Ikon full name -->
                Full Name :
              </label>
              <input type="text" id="fullname" name="fullname" value="{{user.fullName}}" readonly
                class="mt-1 p-2 w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-black bg-white h-6">
            </div>

            <!-- Username -->
            <div class="mb-2">
              <label for="username" class="font-medium text-white">
                <i class="fas fa-user-circle mr-2"></i> <!-- Ikon username -->
                Username :
              </label>
              <input type="text" id="username" name="username" value="{{user.username}}" readonly
                class="mt-1 p-2 w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-black bg-white h-6">
            </div>

            <!-- City -->
            <div class="mb-2">
              <label for="city" class="font-medium text-white">
                <i class="fas fa-city mr-2"></i> <!-- Ikon city -->
                City :
              </label>
              <input type="text" id="city" name="city" value="{{user.city}}" readonly
                class="mt-1 p-2 w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-black bg-white h-6">
            </div>

            <!-- State -->
            <div class="mb-2">
              <label for="state" class="font-medium text-white">
                <i class="fas fa-map-marker-alt mr-2"></i> <!-- Ikon state -->
                State :
              </label>
              <input type="text" id="state" name="state" value="{{user.state}}" readonly
                class="mt-1 p-2 w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-black bg-white h-6">
            </div>

            <!-- Address -->
            <div class="mb-2">
              <label for="address" class="font-medium text-white">
                <i class="fas fa-home mr-2"></i> <!-- Ikon address -->
                Address :
              </label>
              <input type="text" id="address" name="address" value="{{user.address}}" readonly
                class="mt-1 p-2 w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-black bg-white h-6">
            </div>

          </div>

          <div class="flex justify-evenly gap-3 items-center w-full">
            <div class="card-actions mt-4">
              <a href="/my-books" class="w-full btn bg-base-200 h-10 text-white font-extrabold py-2 px-4 glass">
                <i class="fas fa-book mr-2"></i> <!-- Ikon buku -->
                {{user.username}}'s Books
              </a>
            </div>
            <div class="card-actions mt-4">
              <a href="/edit-profile" class="w-full btn bg-base-200 h-10 text-white font-extrabold py-2 px-10 glass">
                <i class="fas fa-edit mr-2"></i> <!-- Ikon edit profile -->
                Edit Profile
              </a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>


  {{>belowPart }}

</body>

</html>