<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books to Take</title>
  <link href="/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <!-- Include DaisyUI for additional components -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@1.11.4/dist/full.css" rel="stylesheet">

  <style>
    #main {
      height: calc(100vh - 10rem);
    }
  </style>
</head>

<body class="w-full">
  {{>upperPart }}

  <div id="main" class="flex justify-center items-center px-4 p-10">
    <div id="books-list" class="w-full flex justify-center items-center">
      <div class="card !static bg-cyan-700 shadow-xl w-full sm:w-4/5 lg:h-auto lg:w-3/5 pb-3 lg:pb-0 mt-2">
        <div class="card-body p-4 lg:p-8 flex flex-col items-center w-full lg:justify-start lg:h-full lg:pl-8">
          <h2 class="card-title text-white font-extrabold text-2xl justify-center mt-2 mb-2">Books
            <span class="text-base font-normal">you can take</span>
          </h2>
          {{#if books.length}}
          <table id="books-table" class="table !static text-center text-white text-lg bg-gray-800 w-full">
            {{#each books}}
            <tr class="book-row">
              <td class="p-4 w-full lg:w-1/2">
                <!-- Icon and Title/Description -->
                <div class="flex items-start">
                  <!-- FontAwesome Book Icon -->
                  <i class="fas fa-book mr-2 lg:text-4xl text-2xl"></i>
                  <div class="text-left w-full">
                    <p class="font-bold break-words">{{this.title}}</p>
                    <p class="font-light break-words max-w-xs lg:max-w-sm">{{this.description}}</p>
                    <!-- Giver's Information for mobile -->
                    <p class="mt-2 lg:hidden text-base font-normal">
                      <span class="font-light">from</span>
                      <span class="font-bold">{{this.giver.username}}</span>
                    </p>
                  </div>
                </div>
              </td>
              <!-- Giver's Information for larger screens -->
              <td class="p-4 hidden lg:table-cell w-1/2">
                <p>
                  <span class="font-light">from</span>
                  <span class="font-bold">{{this.giver.username}}</span>
                </p>
                <p>
                  <span class="text-base font-normal">
                    {{#if this.giver.city}}{{this.giver.city}},{{/if}}
                    {{#if this.giver.state}}{{this.giver.state}},{{/if}}
                    {{#if this.giver.address}}{{this.giver.address}}{{/if}}
                  </span>
                </p>
              </td>
            </tr>
            {{/each}}
          </table>
          {{else}}
          <table id="empty-user-books" class="table !static text-center text-white text-lg bg-gray-800">
            <tr>
              <td>
                No books available to take at the moment.
              </td>
            </tr>
          </table>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  {{>belowPart }}
</body>

</html>
